<div class="jumbotron center">
    <h1>Welcome to myrecipes</h1>
    <h3>the best recipe sharing app</h3>
    <p><%= link_to "Sign up or login", "#", class: "btn btn-danger btn-lg btn-xlarge btn-pos" %></p>
</div>

<div class="middle">
    <h1>📰 Newsletter</h1>
    
</div>


<div class="row">
    <div class="col-md-4">
            <h2>Kimi ni todoke - valentine's chocolate recipe!</h2>
            <p><img src="https://i2.wp.com/skdesu.com/wp-content/uploads/2017/05/chocolate.jpg?resize=250%2C175&ssl=1" width="350" height="175"/></p>
            <small>17/08/21</small>
            <p>In this article, we'll learn step by step how to make the candy that Kurumi took so long to deliver to Kazehaya. </p>
            <p><a class="btn btn-secondary btn-xlarge" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Lemon to honey kuroko no basket recipe!</h2>
            <p><img src="https://i1.wp.com/skdesu.com/wp-content/uploads/2017/12/limao-mel.jpg?resize=250%2C175&ssl=1"  width="350" height="175"/></p>
            <small>17/08/21</small>
            <p>Those who followed Kuroko no Basket's series saw several ways for athletes to improve their physique through training and nutrition.</p>
            <p><a class="btn btn-secondary btn-xlarge" href="#" role="button">Ver detalhes &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Baked bacon - shokugeki no souma recipe!</h2>
            <p><img src="https://i2.wp.com/skdesu.com/wp-content/uploads/2017/10/shokugeki.jpg?resize=250%2C175&ssl=1"  width="350" height="175"/></p>
            <small>17/08/21</small>
            <p>This dish is delicious and with accessible ingredients. The way to make this dish is taught by Soma himself, in the first episode of the anime.  </p>
            <p><a class="btn btn-secondary btn-xlarge" href="#" role="button">Ver detalhes &raquo;</a></p>  
        </div>
    </div>
</div>