
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";


.navbar{
    background-color: rgb(203, 224, 15);
}

.center{
    text-align:center ;
}

.jumbotron{
    background-image: asset-url('test1.jpg');
    background-size: cover;
    height: 400px;
    
}

.jumbotron h1,h3{
    color:rgb(255, 255, 255);
    margin-bottom: -30px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    height: 65px;
    display: flex; align-items: center; 
    justify-content: center
}

.btn-pos{
    margin: 15px;
}
.btn-xlarge{
    background-color:rgb(203, 224, 15) ;
}
.btn-xlarge:hover{
    color: #fff;
    text-decoration: none;
}


.middle{
    background-color: rgb(203, 224, 15);
    text-align: center;
}
.container {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}   

footer{
    background-color: rgb(203, 224, 15);
    margin-top: 45px;
    padding-top: 20px;
    border-top: 1px solid #eaeaea;
    color: #777;
    padding-bottom: 30px;
}

footer a  {
    color: #555;
}
footer a:hover{
    color: rgb(219, 3, 3);
}

footer small{
    float:right;
    position:sticky;
}

footer ul li{
    float: left;
    list-style:none;
    
}

footer div{
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.well{
    background-color: rgb(203, 224, 15);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    float: right;
    font-size: 1.7em;
    color: rgb(202, 17, 17);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #080307;
    text-decoration: none;
}

