
<footer class="footer">
    <small>
            <strong><a href="http://mevo-myrecipes.herokuapp.com">Create your Recipes </a></strong> |
            <strong><a href="http://mevo-todo-char.herokuapp.com">Create your character from jujutsu</a></strong>
            by <em><a href="https://github.com/rostamlobo">Mevoidicius</a></em>
    </small>
    <nav>
        <ul>
            <ul><%= link_to "Contact Us", "#" %></ul>
            <ul><%= link_to "Terms of Use", terms_path %></ul>
            <ul><%= link_to "Privacy Policy", "#" %></ul>
            <ul><%= link_to "How it Works ?", "#" %></ul>
        </ul>
    </nav>
    <div>
        <a href="http://mevo-myrecipes.herokuapp.com" aria-label="MevoMyrecipes">
            <img alt="Mevoidicius - MyRecipes" src="https://img.itdg.com.br/tdg/assets/layout/logos/logo-v4.png">
        </a>
    </div>
</footer>
