<div class="row">
    <div class="col-md-10 col-md-offset-1 flash-message">
    <% flash.each do |name, msg|%>
        <div class="alert alert-<%= name %>">
            <a href="#" class="close" data-dimiss="alert"></a>
                <%= msg%>
        </div>
    <% end %>
    </div>
</div>